#innerdocbody h1{
  font-size: 72px;
  font-family: Arial;

  margin-bottom: .25em !important;
  margin-top: .4em !important;

}
#innerdocbody h2{
  font-size: 64px;
    font-family: Arial;

    margin-bottom: .2em !important;
    margin-top: .35em !important;
  
}
#innerdocbody h3{
  font-size: 48px;
    font-family: Arial;

    margin-bottom: .3em !important;
    margin-top: .7em !important;
}
#innerdocbody h4{
  font-size: 32px;
    font-family: Arial;

    margin-bottom: .2em !important;
    margin-top: .9em !important;
}
#innerdocbody h5{
    font-size: 24px;
    font-family: Arial;

    margin-bottom: .2em !important;
    margin-top: .7em !important;
}
#innerdocbody h6{
  font-size: 17.333333333333332px;
  font-family: Arial;

  
  margin-bottom: .2em !important;
  margin-top: .7em !important;
  margin-left: 0 !important;
}
#innerdocbody code{font-family: RobotoMono;}
#innerdocbody h1,
#innerdocbody h2,
#innerdocbody h3,
#innerdocbody h4,
#innerdocbody h5,
#innerdocbody h6 {
  display: inline-block;
}
